<h1>Create a New Figure</h1>
<form method="POST" action="/figures">
  <!-- FIGURE NAME -->
  <h2>Figure Name</h2>
  <label>Name:</label>
  <input type="text" id="figure_name" name="figure[name]">

  <!-- EXISTING TITLES -->
  <h2>Existing Titles</h2>
  <% @titles.each do |title| %>
    <div>
      <input type="checkbox" id="" name="figure[title_ids][]" value="<%=title.id%>" id="<%=title.id%>"><%=title.name%></input>
      <label><%= title.name %></label>
    </div>
  <% end %>
  <!-- NEW TITLES -->
  <h2>New Title</h2>
  <label>Title Name:</label>
  <input type="text" id="new_title" name="title[name]">

  <!-- EXISTING LANDMARKS -->
  <h2>Existing Landmarks</h2>
  <% @landmarks.each do |landmark| %>
    <div>
      <input type="checkbox" id="" name="figure[landmark_ids][]" value="<%=landmark.id%>" id="<%=landmark.id%>"><%=landmark.name%></input>
      <label><%= landmark.name %></label>
    </div>
  <% end %>
  <!-- NEW LANDMARKS -->
  <h2>New Landmark</h2>
  <label>Landmark Name:</label>
  <input type="text" id="new_landmark" name="landmark[name]">

  <!-- SUBMIT FIGURE -->
  <p><input type="submit" id="" value="Create New Figure"></p>
</form>
